:root {
  --bg-principal: #090c31;
  --bg-secundario: #15173c;
  --fuente-principal: #ffffff;
  --calcular-primario: #e6394a;
  --calcular-secundario: #e65766;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  background: var(--bg-principal);
}

.calculadora {
    background-color: #15173c;
    color: white;
    width: 30rem;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
  grid-column: 1/-1;
  text-align: right;
  font-family: monospace;
  background: var(--bg-principal);
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn {
  background: var(--bg-secundario);
  color: var(--fuente-principal);
  border: 0.1rem solid var(--bg-principal);
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: 0.3s ease all;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-principal);
  }
}

#cero {
  grid-column: 1/3;
}

#igual {
  grid-row: span 2;
  background: var(--calcular-primario);

  &:hover{
    background: var(--calcular-secundario);
  }
}
